.starter-template h1 {
  margin-top: 80px;
}

/**
* Colors:
* main background: #f2edf3 or rgb(242, 237, 243)
* secondary background: #8cadbf or rgb(140, 173, 191)
* dark-font: #181b27 or rgba(24, 27, 39)
* lighter-font: #26385d or rgb(38, 56, 93)
*/

@font-face {
  font-family: 'Emblema One';
  src: url(../resources/fonts/EmblemaOne-Regular.ttf);
}

@font-face {
  font-family: 'Museo Slab', serif;
  src: url(../resources/fonts/Museo_Slab_500.ttf);
}

body{
  background-color: #f2edf3;
}

.jumbotron{
  background-color: transparent;
  background: url(../images/cover.jpg) no-repeat center right;
  background-size: cover;
  height: 100vh;
  position: relative;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  font-family: 'Museo Slab', serif;
  margin-top: 10px;
  margin-bottom: 10px;

}

.scroll_down{
  width: 100%;
  height: 60px;
  background-color: transparent;;
  position: absolute;
  bottom: 0;
  vertical-align: top;
}

.scroll_down {
  width: 30px;
  height: 60px;
  position: absolute;
  left: 49.5vw;
  bottom: 0;
  background: url(../images/scroll_down.png) no-repeat center center;
}

.scroll_down_icon{
  width: 100%;
  height: 100%;
}

#scroll_down_link{
  width: 27px;
  height: 61px;
  background: transparent;
  margin: 0 auto;
}

.cover_banner {
  font-family: 'Museo Slab', serif;
  background-color: rgba(24, 27, 39, 0.8);
  color: #f2edf3;
  padding: 0 2px;
  position: absolute;
  bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.cover_banner h2{
  color: #f2edf3;
  margin-top: 10px;
}

.cover_banner h3{
  color: #8cadbf;
  margin-top: 5px;
  opacity: 0.8;

}

.navbar{
  background-color: rgba(24, 27, 39, 0.8);
  border: none;
}

.nav>li>a {
    position: relative;
    display: block;
    padding-right: 12px;
    padding-left: 12px;
}

.navbar-inverse .navbar-nav > li > a{
  font-family: 'Museo Slab', serif;
  font-size: 14px;
  color: #f2edf3;
  letter-spacing: 1px;

}

.navbar-inverse .navbar-brand{
    padding-left: 0;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #8cadbf;
}

.navbar-nav li.active a {
    color: #181b27 !important;
    background-color: #f2edf3 !important;
}

.navbar-inverse .navbar-toggle{
  border-color: transparent;
}

.logo{
  font-family: 'Emblema One', cursive;
  font-size: 2em;
  color: #f2edf3;
}

.logo:hover, .logo:focus{
  color: #8cadbf;
}

/**************
About Section
**************/

.about > section > .container-fluid, .portfolio > section > .container-fluid{
  background-color: #8cadbf;
}

.about > .container-fluid > .container{
  background-color: transparent;
}

section .container{
  padding: 100px 0;
}

section .container header{
  font-family: 'Museo Slab', serif;
  font-size: 24px;
  color: #181b27;
}

section .container article{
  margin: 60px 0;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  color: #26385d;
}


main > div > section{
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
}

.profile_image{
  background: url(../images/profile_image.png) no-repeat center center;
  height: 340px;
  width: 340px;
  margin: auto auto;
}

.btn-default{
  background-color: transparent;
  border: 4px solid #181b27;
  color: #181b27;
  font-family: 'Museo Slab', serif;
  font-size: 14px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}

.btn-default:hover, .btn-default:focus{
  background-color: #f2edf3;
  border: 4px solid #26385d;
  color: #26385d;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
}

/**************
Services Section
**************/

.services{
  z-index: 9999;
}
.service_pic{
  background-color: transparent;
}

.services .panel{
  background-color: transparent;
  border: none;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}

.services .panel:hover, .services .panel:focus{
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

.services .panel-body{
  padding: 0;
  background-color: transparent;
}

.panel-footer h3{
  color: #181b27;
  font-size: 1.6vw;
}

.panel-footer{
  background-color: #f2edf3;
  border: none;
}

.panel-footer p{
  font-family: Helvetica, sans-serif;
  margin:0;
  color: #8cadbf;
  font-weight: normal;
}

/**************
Portfolio Section
**************/

.portfolio > .container-fluid{
  background-color: #8cadbf;
}

.portfolio img{
  display: block;
  margin: 10px auto;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

.portfolio img:hover{
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);}

.portfolio header{
  margin-bottom: 30px;
}


.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    left: 50%;
    margin-left: -10px;
    color: #8cadbf;

}

.carousel-indicators li {
    border-color: #8cadbf;
}

.carousel-indicators li.active {
    background-color: #8cadbf;
}

.item h4 {
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 0 120px 80px 120px;
}

.contact .container-fluid{
  background-color: #8cadbf;
}

#message{
  resize: none;
}


.form-group input, .form-group textarea{
  border: solid 1px #181b27;
  color: #26385d;
  font-weight: lighter;
  letter-spacing: 1px;
  font-family: Helvetica, sans-serif;

}

.form-group input:focus, .form-group textarea:focus{
  border: solid 1px #181b27;
}

#googleMap{
  height: 250px;
  width: 100%;
  border: solid 1px #181b27;
  margin: 20px auto;
}

.glyphicon{
  font-size: 32px;
  color: #f2edf3;
  margin-right: 20px;
  margin-left: 20px;
  vertical-align: middle;

}

article.contact_details{
  margin: 40px 0 !important;
  height: 100%;
  width: 100%;
  line-height: 2em;
  //position: relative;
  //overflow: hidden;
}

.social_media{
  position: absolute;
  bottom: -50px;
  left: 35px;
  width:250px;
  height:40px;
}

.social_media_icon{
float: left;
transform: scale(0.8);
}

.social_media_icon:hover, .social_media_icon:focus{
transform: scale(1.05);
}

.contact_details .detail{
  display: inline-block;
  word-wrap: normal;
  //float: left;
}

.underline{
  text-decoration: underline;
}

.contact .container, .testimonials .container {
  padding-bottom: 10px;
}

footer.footer{
  background-color: #181b27;
  color: #f2edf3;
}

footer.footer a{
  text-decoration: underline;
  color: #f2edf3;
}

footer.footer p{
margin: 20px auto;
}

footer.footer .glyphicon{
  margin-top: 10px;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
  .cover_banner h2{
    font-size: 1.4em;
  }

  .cover_banner h3{
    font-size: 1.1em;
  }

  .section container footer{
    text-align: center;
  }

  section .container article{
    margin: 20px 0;

  }

  .panel-body img{
    margin: 0 auto;
    padding: 0;
  }

  section .panel{
    margin-top: 40px;
  }

  section .panel-footer{
    margin: 0;
  }

  section header, section footer{
    text-align: center;
  }

  .panel-footer h3{
    font-size: 1.5em;
    padding-top: 0;
    display: block;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  .cover_banner h2{
    font-size: 1.7em;
  }

  .cover_banner h3{
    font-size: 1.3em;
  }

  .panel-body img{
    margin: 0 auto;
    padding: 0;
  }

  section header, section footer{
    text-align: left;
  }


}

/* md */
@media screen and (min-width: 992px) {
  .cover_banner h2{
    font-size: 2.2em;
  }

  .cover_banner h3{
    font-size: 1.6em;
  }

  section header, section footer{
    text-align: left;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .cover_banner h2{
    font-size: 2.5em;
  }

  .cover_banner h3{
    font-size: 2em;
  }

  section header, section footer{
    text-align: left;
  }
}

.contactsAddForm{
  margin: 60px auto;
}
